#############################
# Maven / Spring Boot
#############################
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

#############################
# Gradle (por si alguno usa)
#############################
.gradle/
build/
**/build/

#############################
# IntelliJ IDEA
#############################
.idea/
*.iml
*.iws
*.ipr

#############################
# VS Code
#############################
.vscode/

#############################
# Logs
#############################
*.log
logs/
**/logs/

#############################
# SO / Archivos temporales
#############################
.DS_Store
Thumbs.db
*.tmp
*.swp

#############################
# Java
#############################
*.class
*.jar
*.war
*.ear

#############################
# Node (por si el API Gateway usa JS)
#############################
node_modules/
dist/
.env

#############################
# Docker
#############################
*.pid
.env.local
.env.*.local

#############################
# Otros
#############################
/microservicios/**/target/
